main {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#landingHeader {
    min-height: 200px;
    background-image: url('../../../assets//images/lorenzo-herrera-1383917-unsplash.jpg');
}

h1 {
    color: #fff;
}

header {
    padding: 10% 0;
}
  
section {
    min-height: 200px;
    padding: 6% 0;
}

#signUp {
    background-image: url('../../../assets//images/rhett-noonan-274786-unsplash.jpg');
}

#signUp h3 {
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 2px 2px 1px 2px #000;
}

fieldset {
    max-width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: none;
}

label {
    display: flex;
    justify-content: flex-start;
}

input {
    display: flex;
    justify-content: flex-start;
}



section:nth-child(even) {
    background-color: #ddd;
}