main {
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#landingHeader {
    min-height: 200px;
    background-size: cover;
    background-image: url('../../../assets//images/lorenzo-herrera-1383917-unsplash.jpg');
}

#landingHeader h1 {
    color: #fff;
    width: 100%;
    font-weight: 700;
}

header {
    padding: 10% 0;
}

header h3{
    display: inline-block;
    margin: 0 auto;
    width: 70%;
}
  
section {
    min-height: 200px;
    width: 100%;
    padding: 4% 0;
}

section p{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 0;
    width: 70%;
}

#signUp {
    background-image: url('../../../assets//images/rhett-noonan-274786-unsplash.jpg');
}

.signUp {
    color: #fff;
    background-color: #000;
}

#signUp h3 {
    color: #fff;
}
