.appHomeContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.appNav {
    flex: 1;
    background-color: #fff;
}
  
nav * {
    text-decoration: none;
    display: block;
}
  
main {
    flex: 3;
    margin: 10px 50px;
}
