nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 0;
  background-color: #000;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 0 1%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
  cursor: pointer;
}