.Input,
.Textarea {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: vertical;
}

.Button {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #CA1551;
  font-family: Arial;
  font-weight: bold;
}
