.Input,
.Textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.Input::-webkit-input-placeholder,
.Textarea::-webkit-input-placeholder {
  color: #ccc;
}

.Input:-ms-input-placeholder,
.Textarea:-ms-input-placeholder {
  color: #ccc;
}

.Input::-ms-input-placeholder,
.Textarea::-ms-input-placeholder {
  color: #ccc;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: vertical;
}

.Button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1px solid #aaa;
          order: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #CA1551;
  font-family: Arial;
  font-weight: bold;
}